.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .loading,
  .error,
  .noData {
    text-align: center;
    color: #555;
    font-size: 1.1rem;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  th,
  td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  .noData {
    margin-top: 1rem;
    font-size: 1rem;
    color: #777;
  }

  .unavailableRow {
    background-color: rgba(255, 0, 0, 0.2); /* Light red background */
  }
  .unavailableRow button {
    opacity: 0.5;
    cursor: not-allowed;
  }  


  .modal{
    position: absolute;
    top: 1rem;
    right: 5rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(142, 140, 140);
    color: white;
    border-radius: 1rem;
  }

  .modal p{
    padding: 0.5rem;
    border-bottom: 1px solid white;
  }
  